body {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}
#form {
    align-items: center;
    align-content: center;
}
h1 {
    text-align: center;
}
.kanban-body {
    align-content: center;
    margin: 2%;
}
.modal {
    display: none;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 50px;
}
#form-item {
    align-self: center;
}
th {
    height: 75px;
    color: white;
    align-content: center;
}
table {
    border: none;
    table-layout: fixed;
    border-spacing: 0px;
    width: 100%;
}
td {
    border: 1px solid black;
    text-align: center;
}
#header-todo {
    background-color: orange;
    text-align: center;
    width: 33%;
}
#header-inProgress {
    background-color: deepskyblue;
    text-align: center;
    width: 33%;
}
#header-done {
    background-color: #47CC8A;
    text-align: center;
    width: 33%;
}
#btn-close {
    width: 30px;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    font-weight: bold;
}
#btn-close:hover, #btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.btn-add {
    margin: 20px;
    align-self: flex-start;
}
button {
    height: 36px;
    border-radius: 2px;
    border-color: black;
    color: black;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.inner-modal {
    margin: auto;
    padding: auto;
    flex-direction: column;
}
input{
    height: 30px;
    border-radius: 2px;
    border-color: black;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
div {
    background-color: #dfdfdf;
    margin: 50px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 15px;
}